.List {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
}

.List > input {
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
}

.List > input:focus {
    outline: none;
    border-bottom: 1px solid lightcoral;
}

.List .contact_wrapper {
    display: flex;
    flex-direction:column;
    gap:20px;
}

.List > h3 {
    margin: 0;
}